/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .red_hover{
	border: 1px solid red;
}
.blue_click{
	border: 2px solid blue;
}
.effect_hide{
	visibility: hidden;
}